/**NAVMENU BAR**/
.wrapper-nav{
    text-align:center;
    box-shadow: 0 10px 15px 0 rgb(0,0,0);
}
.navbar{
    background-color: rgb(0,0,0);
    height: 70px;
}

.navbar li{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
    display: inline;
    margin:0px 20px;
    -webkit-transition-property: border-bottom;
    -moz-transition-property: border-bottom;
    -o-transition-property: border-bottom;
    -webkit-transition-duration: .2s, .2s;
    -moz-transition-duration: .2s, .2s;
    -o-transition-duration: .2s, .2s;
    -webkit-transition-timing-function:linear;
    -moz-transition-timing-function:linear;
    -o-transition-timing-function:linear;
}

.navbar ul{
    padding-top:10px;
}

.navbar li:hover{
    cursor: pointer;
    border-bottom: 2px solid rgb(47, 139, 251);
    border-top: 2px solid rgb(47, 139, 251); 
}

.navbar li a:hover{
    color: white;
}

.navbar li a{
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-duration: .2s, .2s;
    -moz-transition-duration: .2s, .2s;
    -o-transition-duration: .2s, .2s;
    -webkit-transition-timing-function:linear;
    -moz-transition-timing-function:linear;
    -o-transition-timing-function:linear;
}

.navbar li a .active{
    color: white;
    border-bottom: 2px solid rgb(47, 139, 251);
    border-top: 2px solid rgb(47, 139, 251); 
}

/**LOGO**/
#logo{
    background-color:rgb(47, 139, 251);
    opacity: 0.5;
    background-image: url(../img/hollow.jpg);
    background-size: auto;
}

#logo h2{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 75px;
    height: 540px;
    margin-top: 10px;
}